In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/IIIT /Thesis/Employee/Employment/recruitment_decision_tree.csv')

In [ ]:
data.head()

,Serial_no,Gender,Python_exp,Experience_Years,Education,Internship,Score,Salary * 10E4,Offer_History,Location,Recruitment_Status
0,1,Male,Yes,0.0,Graduate,No,5139,0.0,1.0,Urban,Y
1,2,Male,No,1.0,Graduate,No,4583,128.0,1.0,Rural,N
2,3,Male,No,0.0,Graduate,Yes,3000,66.0,1.0,Urban,Y
3,4,Male,No,0.0,Not Graduate,No,2583,120.0,1.0,Urban,Y
4,5,Male,Yes,0.0,Graduate,No,6000,141.0,1.0,Urban,Y

In [ ]:
print('Shape of the data',data.shape)

Shape of the data (614, 11)

In [ ]:
data.dtypes

Serial_no               int64
Gender                 object
Python_exp             object
Experience_Years      float64
Education              object
Internship             object
Score                   int64
Salary * 10E4         float64
Offer_History         float64
Location               object
Recruitment_Status     object
dtype: object

In [ ]:
sex_map = {'Male':1, 'Female':0}
data['Gender'] = data['Gender'].map(sex_map)

pyth_map = {'Yes':1, 'No':0}
data['Python_exp'] = data['Python_exp'].map(pyth_map)

edu_map = {'Graduate':1, 'Not Graduate':0}
data['Education'] = data['Education'].map(edu_map)

intern_map = {'Yes':1, 'No':0}
data['Internship'] = data['Internship'].map(intern_map)

locat_map = {'Urban':3, 'Semiurban':2, 'Rural':1}
data['Location'] = data['Location'].map(locat_map)

status_map = {'Y':1, 'N':0}
data['Recruitment_Status'] = data['Recruitment_Status'].map(status_map)


data.head()

,Serial_no,Gender,Python_exp,Experience_Years,Education,Internship,Score,Salary * 10E4,Offer_History,Location,Recruitment_Status
0,1,1.0,1.0,0.0,1,0.0,5139,0.0,1.0,3,1
1,2,1.0,0.0,1.0,1,0.0,4583,128.0,1.0,1,0
2,3,1.0,0.0,0.0,1,1.0,3000,66.0,1.0,3,1
3,4,1.0,0.0,0.0,0,0.0,2583,120.0,1.0,3,1
4,5,1.0,1.0,0.0,1,0.0,6000,141.0,1.0,3,1

In [ ]:
import numpy as np

data['Gender'].fillna(0, inplace=True)

data['Experience_Years'].fillna(0, inplace=True)

data['Python_exp'].fillna(0, inplace=True)

data['Offer_History'].fillna(1, inplace=True)

data['Internship'].fillna(np.mean(data['Internship']), inplace=True)

data['Salary * 10E4'].fillna(np.mean(data['Salary * 10E4']), inplace=True)

In [ ]:
m = np.random.rand(len(data))<0.72

train = data[m]
test = data[~m]

In [ ]:
x_train = np.asarray(train[['Gender', 'Python_exp', 'Experience_Years', 'Education', 'Internship', 'Score', 'Salary * 10E4', 'Offer_History']])
y_train = np.asarray(train[['Recruitment_Status']])

x_test = np.asarray(test[['Gender', 'Python_exp', 'Experience_Years', 'Education', 'Internship', 'Score', 'Salary * 10E4', 'Offer_History']])
y_test = np.asarray(test[['Recruitment_Status']])

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

#Logistic Regression model
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression() #Define
log_model.fit(x_train, y_train) #fit
predict = log_model.predict(x_test) #predict

print("Train data Accuracy :", log_model.score(x_train, y_train))
print("Test data Accuracy :", log_model.score(x_test, y_test))

Train data Accuracy : 0.8163265306122449
Test data Accuracy : 0.7976878612716763

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report
import plotly.express as px

model=RandomForestClassifier()

model.fit(x_train,y_train)

y_pred=model.predict(x_test)

print("Training Accuracy :", model.score(x_train, y_train))
print("Testing Accuracy:", model.score(x_test, y_test))

# cm = confusion_matrix(y_test, y_pred)
# fig = px.imshow(cm,text_auto=True, title='Confusion Matrix of the Model')
# fig.update_layout(xaxis_title='Actual', yaxis_title='Predicted')

<ipython-input-21-ef38d17d675c>:5: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Training Accuracy : 1.0
Testing Accuracy: 0.7514450867052023